{
  "extends": ["react-app", "airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "comma-dangle": "off",
    "prettier/prettier": ["error", {
        "printWidth": 120,
        "singleQuote": true
    }]
  }
}
